.musculacao {
  color: red
}

.spinning{
  color: blue
}

.powerJump {
  color: yellow
}
.zumba {
  color: brown
}
.yoga {
  color: blueviolet
}
.pilates {
  color: aqua
}
.funcional {
  color: chartreuse
}
.bodyPump {
  color: rebeccapurple
}
.alongamento {
  color: chocolate
}
.lutas {
  color: darkgreen
}