<div class="container">  
  <h3>Nossos Instrutores</h3>
  
  <table class="table">
    <thead class="table-primary">
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">Endereço</th>
        <th scope="col">Telefone</th>
        <th scope="col">Idade</th>
        <th scope="col">Especialidade</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let instructor of instructorService.instructors">
        <td [innerHtml]="instructor.name"></td>
        <td [innerHtml]="instructor.email"></td>
        <td [innerHtml]="instructor.address"></td>
        <td [innerHtml]="instructor.phone"></td>
        <td [innerHtml]="instructor.age"></td>
        <td [innerHtml]="instructor.especialidade" [ngClass]="{
          'musculacao':instructor.especialidade === 'Musculação',
          'spinning':instructor.especialidade ==='Spinning',
          'powerJump':instructor.especialidade ==='Power Jump',
          'zumba':instructor.especialidade ==='Zumba',
          'yoga':instructor.especialidade ==='Yoga',
          'pilates':instructor.especialidade ==='Pilates',
          'funcional':instructor.especialidade ==='Funcional',
          'bodyPump':instructor.especialidade ==='Body Pump',
          'alongamento':instructor.especialidade ==='Alongamento',
          'lutas':instructor.especialidade ==='Lutas'          
        
        }"></td>

        

        
        
        
      </tr>
    </tbody>

  </table>

</div>
