@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');



.body {
  background: rgb(192, 186, 197);
}


h1, h2, h3 {
  color:rgb(17, 20, 245);
  margin: 0;
  padding: 20px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, h3{
  font-family: 'Roboto', sans-serif;  
}


